<div>
  <div class="row">
    <div class="col">
      <h1 class="text-center personal">Personal information</h1>
      <div class="row dib">
        <div class="col">
          <h2 class="text-center">
            Address
          </h2>
        </div>
        <div class="col">
          <h2 class="font-weight-normal">City: {{city}}</h2>
          <h2 class="font-weight-normal">Street: {{street}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="text-center">
            Age
          </h2>
        </div>
        <div class="col">
          <h2 class="font-weight-normal">{{age}}</h2>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <h2 class="text-center">
            Gender
          </h2>
        </div>
        <div class="col">
          <h2 class="font-weight-normal">{{gender}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="text-center">
            Medical Card
          </h2>
        </div>
        <div class="col">
          <h2 class="font-weight-normal"><button class="btn btn-info font-weight-normal">Download</button></h2>
        </div>
      </div>
    </div>
    <div class="col">
      <h1 class="text-right font-weight-light  vertical-text">information</h1>
    </div></div></div>
