<div class="row">
  <div class="col"></div>
  <div class="col">
    <h1 class="text-right"><a routerLink="personal" class="text-dark text-decoration-none">Personal information</a></h1>
  </div>
  <div class="col">
    <h1 class="text-center"><a routerLink="orders" class="text-dark text-decoration-none">My orders</a></h1>
  </div>
  <div class="col">
    <h1 class="text-left"><a class="text-dark text-decoration-none">Results of analyzes</a></h1>
  </div>
</div>
<router-outlet></router-outlet>



