<h1 class="text-center font-weight-light h1">I don't know who we are</h1>
<div class="text-center image">
<img src="assets/CBrnUzUSAes.png" class="img-fluid rounded">
</div>
<div>
  <div class="text">
  <h1 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui</h1>
  </div>

</div>
