.h1{
  padding-top: 15%;
  font-size: 350%;
}
.h101{
  padding-bottom: 40%;
  padding-top: 20%;
  font-size: 350%;
}
.h1cont{
  font-size: 350%;
}
img{
  padding-top: 5%;
}
.text-right{
  font-size: 350%;
}
.text-left{
  padding-top: 20%;
  padding-left: 10%;
}
.secText{
  padding-top: 20%;
}
.btnOrder{
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 20%;
}
