<h1 class="text-center personal">My Orders</h1>
<div *ngFor="let o of order">
<div class="row" >

<div class="col tableDiv" >
    <div class="row dib" >
      <div class="col">
        <h2 class="text-center">
          Therapist
        </h2>
      </div>
      <div class="col">
        <h2 class="font-weight-normal">{{o.therapist}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-center">
          Hospital
        </h2>
      </div>
      <div class="col">
        <h2 class="font-weight-normal"> {{o.hospital}}</h2>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-center">
          Order number
        </h2>
      </div>
      <div class="col">
        <h2 class="font-weight-normal">{{o.orderNumber}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-center">
          Date:
        </h2>
      </div>
      <div class="col">
        <h2 class="font-weight-normal">{{o.date | date:'fullDate' }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-center">
          About order
        </h2>
      </div>
      <div class="col">
        <h2 class="font-weight-normal"><button class="btn btn-info font-weight-normal">View</button></h2>
      </div>
    </div>
</div>
  <div class="col">
    <h1 class="text-right font-weight-light  vertical-text">information</h1>
  </div>
</div>
<div class="br"></div>
</div>
