  <div class="row">
    <div class="col">
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="city" [ngModelOptions]="{standalone: true}" placeholder="City">
      </div>
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="street" [ngModelOptions]="{standalone: true}" placeholder="Street">
      </div>
      <div class="col">
      <input type="text" class="form-control" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}" placeholder="Gender">
    </div>
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="age" [ngModelOptions]="{standalone: true}" placeholder="Age">
      </div>
  </div>
  </div>
<button  class="btn btn-outline-success btn-lg btn-block">Go to Login</button>
